In [11]:
# needed for API
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader as pdr
import yfinance as yfin
yfin.pdr_override()
from dotenv import load_dotenv
import os
import json
import requests

def get_econ_data ():
    # define data for DataReader
    end = dt.date.today()
    start= end - dt.timedelta(days=365*21)
    start_str = start.strftime('%Y-%m-%d')
    end_str = end.strftime('%Y-%m-%d')

    # select tables, enter as dataframe
    list_of_pct_tables = ['SOFR30DAYAVG', 'SOFR', 'EFFR', 'AAA', 'DBAA', 'T10YIE', 'T5YIE', 'MORTGAGE30US', 'DGS30', 'DGS1','BAMLH0A0HYM2EY']
    # AAA - BBB is spread
    lisf_of_val_tables = ['SOFRVOL', 'RECPROUSM156N', 'SAHMREALTIME']
    econ_df_pct = pdr.DataReader(list_of_pct_tables, 'fred', start_str, end_str)
    econ_df_val = pdr.DataReader(lisf_of_val_tables, 'fred', start_str, end_str)
    
    #filling blank values with prior value
    econ_df_pct.fillna(method='ffill', inplace=True)
    econ_df_val.fillna(method='ffill', inplace=True)
    
    #create spread metrics
    spread_df = pd.DataFrame()
    spread_df['ab_bond_spread'] = econ_df_pct["DBAA"] - econ_df_pct["AAA"]
    spread_df['junk_bond_spread'] = econ_df_pct["BAMLH0A0HYM2EY"] - econ_df_pct["AAA"]
    spread_df['int_spread'] = econ_df_pct["DGS30"] - econ_df_pct["DGS1"]
    
    # calculate daily changes
    temp_df = econ_df_val[['RECPROUSM156N','SAHMREALTIME']]
    econ_df_pct = econ_df_pct.diff()
    econ_df_val = econ_df_val.pct_change()
    
    # add back in unchange probability
    econ_df_val[['RECPROUSM156N','SAHMREALTIME']] = temp_df
    
    # combine data
    econ_df = pd.concat([econ_df_pct, econ_df_val, spread_df], axis=1)
    
    # remove inf values
    econ_df[np.isinf(econ_df)] = 0
    # fill blanks
    temp_df = econ_df[['RECPROUSM156N','SAHMREALTIME']]
    temp_df.fillna(method='ffill', inplace=True)
    econ_df[['RECPROUSM156N','SAHMREALTIME']] = temp_df
    
    #drop blank columns
    econ_df = econ_df.dropna(subset='EFFR')
    
    # update index to date
    econ_df.index = econ_df.index.date

    return econ_df

C:\Users\micha\AppData\Local\Temp\ipykernel_15600\2606458185.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.fillna(method='ffill', inplace=True)

,SOFR30DAYAVG,SOFR,EFFR,AAA,DBAA,T10YIE,T5YIE,MORTGAGE30US,DGS30,DGS1,BAMLH0A0HYM2EY,SOFRVOL,RECPROUSM156N,SAHMREALTIME,ab_bond_spread,junk_bond_spread,int_spread
2002-04-17,NaN,NaN,0.05,NaN,0.02,NaN,NaN,NaN,0.07,-0.03,-0.04,NaN,NaN,NaN,NaN,NaN,3.42
2002-04-18,NaN,NaN,-0.02,NaN,0.02,NaN,NaN,NaN,0.01,-0.03,-0.03,NaN,NaN,NaN,NaN,NaN,3.46
2002-04-19,NaN,NaN,-0.04,NaN,-0.04,NaN,NaN,NaN,-0.06,-0.01,0.00,NaN,NaN,NaN,NaN,NaN,3.41
2002-04-22,NaN,NaN,0.06,NaN,-0.05,NaN,NaN,0.00,-0.02,0.02,0.02,NaN,NaN,NaN,NaN,NaN,3.37
2002-04-23,NaN,NaN,-0.02,NaN,0.00,NaN,NaN,0.00,0.00,0.00,-0.01,NaN,NaN,NaN,NaN,NaN,3.37
2002-04-24,NaN,NaN,0.05,NaN,-0.04,NaN,NaN,0.00,-0.06,-0.06,-0.04,NaN,NaN,NaN,NaN,NaN,3.37
2002-04-25,NaN,NaN,0.06,NaN,0.01,NaN,NaN,0.00,0.00,-0.02,0.00,NaN,NaN,NaN,NaN,NaN,3.39
2002-04-26,NaN,NaN,-0.03,NaN,-0.02,NaN,NaN,-0.06,0.01,-0.02,-0.01,NaN,NaN,NaN,NaN,NaN,3.42
2002-04-29,NaN,NaN,0.02,NaN,0.04,NaN,NaN,0.00,0.02,0.05,-0.02,NaN,NaN,NaN,NaN,NaN,3.39
2002-04-30,NaN,NaN,0.01,NaN,0.00,NaN,NaN,0.00,-0.03,-0.01,-0.28,NaN,NaN,NaN,NaN,NaN,3.37
2002-05-01,NaN,NaN,0.06,NaN,-0.01,NaN,NaN,0.00,-0.03,-0.02,-0.05,NaN,0.24,1.43,1.19,4.66,3.36
2002-05-02,NaN,NaN,-0.09,0.00,0.03,NaN,NaN,0.00,0.03,0.02,0.04,NaN,0.24,1.43,1.22,4.70,3.37
2002-05-03,NaN,NaN,-0.06,0.00,0.00,NaN,NaN,-0.10,-0.07,-0.07,0.01,NaN,0.24,1.43,1.22,4.71,3.37
2002-05-06,NaN,NaN,0.02,0.00,-0.01,NaN,NaN,0.00,0.01,0.02,0.03,NaN,0.24,1.43,1.21,4.74,3.36
2002-05-07,NaN,NaN,-0.03,0.00,-0.01,NaN,NaN,0.00,0.00,-0.03,0.04,NaN,0.24,1.43,1.20,4.78,3.39
2002-05-08,NaN,NaN,-0.01,0.00,0.15,NaN,NaN,0.00,0.11,0.10,0.01,NaN,0.24,1.43,1.35,4.79,3.40
2002-05-09,NaN,NaN,0.03,0.00,-0.01,NaN,NaN,0.00,0.01,-0.04,-0.04,NaN,0.24,1.43,1.34,4.75,3.45
2002-05-10,NaN,NaN,0.00,0.00,-0.01,NaN,NaN,0.01,-0.06,-0.06,0.01,NaN,0.24,1.43,1.33,4.76,3.45
2002-05-13,NaN,NaN,0.01,0.00,0.05,NaN,NaN,0.00,0.07,0.09,0.07,NaN,0.24,1.43,1.38,4.83,3.43
2002-05-14,NaN,NaN,-0.06,0.00,0.08,NaN,NaN,0.00,0.05,0.07,0.01,NaN,0.24,1.43,1.46,4.84,3.41
2002-05-15,NaN,NaN,0.15,0.00,-0.02,NaN,NaN,0.00,-0.02,-0.02,-0.01,NaN,0.24,1.43,1.44,4.83,3.41
2002-05-16,NaN,NaN,-0.08,0.00,-0.03,NaN,NaN,0.00,-0.02,-0.06,0.05,NaN,0.24,1.43,1.41,4.88,3.45
2002-05-17,NaN,NaN,-0.06,0.00,0.05,NaN,NaN,0.10,0.04,0.10,0.03,NaN,0.24,1.43,1.46,4.91,3.39
2002-05-20,NaN,NaN,0.02,0.00,-0.04,NaN,NaN,0.00,-0.06,-0.04,0.01,NaN,0.24,1.43,1.42,4.92,3.37
2002-05-21,NaN,NaN,-0.04,0.00,-0.04,NaN,NaN,0.00,0.01,-0.03,-0.02,NaN,0.24,1.43,1.38,4.90,3.41
2002-05-22,NaN,NaN,0.05,0.00,-0.02,NaN,NaN,0.00,-0.04,-0.04,-0.01,NaN,0.24,1.43,1.36,4.89,3.41
2002-05-23,NaN,NaN,0.03,0.00,0.02,NaN,NaN,0.00,0.03,0.04,-0.02,NaN,0.24,1.43,1.38,4.87,3.40
2002-05-24,NaN,NaN,-0.01,0.00,-0.01,NaN,NaN,-0.08,0.00,-0.01,0.00,NaN,0.24,1.43,1.37,4.87,3.41
2002-05-27,NaN,NaN,0.00,0.00,0.00,NaN,NaN,0.00,0.00,0.00,-0.02,NaN,0.24,1.43,1.37,4.85,3.41
2002-05-28,NaN,NaN,0.13,0.00,-0.01,NaN,NaN,0.00,0.00,0.04,0.00,NaN,0.24,1.43,1.36,4.85,3.37
2002-05-29,NaN,NaN,-0.09,0.00,-0.03,NaN,NaN,0.00,-0.01,-0.06,0.00,NaN,0.24,1.43,1.33,4.85,3.42
2002-05-30,NaN,NaN,0.01,0.00,-0.02,NaN,NaN,0.00,-0.03,-0.04,0.02,NaN,0.24,1.43,1.31,4.87,3.43
2002-05-31,NaN,NaN,-0.01,0.00,0.00,NaN,NaN,-0.05,0.01,0.03,0.14,NaN,0.24,1.43,1.31,5.01,3.41
2002-06-01,NaN,NaN,0.00,-0.12,0.00,NaN,NaN,0.00,0.00,0.00,0.00,NaN,0.24,1.40,1.43,5.13,3.41
2002-06-03,NaN,NaN,0.04,0.00,0.00,NaN,NaN,0.00,0.01,0.01,-0.05,NaN,0.24,1.40,1.43,5.08,3.41
2002-06-04,NaN,NaN,-0.10,0.00,-0.01,NaN,NaN,0.00,-0.01,-0.04,0.04,NaN,0.24,1.40,1.42,5.12,3.44
2002-06-05,NaN,NaN,-0.03,0.00,0.02,NaN,NaN,0.00,0.04,0.02,-0.01,NaN,0.24,1.40,1.44,5.11,3.46
2002-06-06,NaN,NaN,0.05,0.00,-0.04,NaN,NaN,0.00,-0.02,-0.03,0.01,NaN,0.24,1.40,1.40,5.12,3.47
2002-06-07,NaN,NaN,-0.02,0.00,0.03,NaN,NaN,-0.05,0.04,0.01,0.10,NaN,0.24,1.40,1.43,5.22,3.50
2002-06-10,NaN,NaN,0.03,0.00,-0.04,NaN,NaN,0.00,-0.05,-0.01,0.05,NaN,0.24,1.40,1.39,5.27,3.46
2002-06-11,NaN,NaN,-0.04,0.00,-0.05,NaN,NaN,0.00,-0.05,-0.03,0.04,NaN,0.24,1.40,1.34,5.31,3.44
2002-06-12,NaN,NaN,0.03,0.00,0.01,NaN,NaN,0.00,-0.03,-0.02,0.08,NaN,0.24,1.40,1.35,5.39,3.43
2002-06-13,NaN,NaN,0.01,0.00,-0.04,NaN,NaN,0.00,-0.03,-0.05,0.00,NaN,0.24,1.40,1.31,5.39,3.45
2002-06-14,NaN,NaN,-0.01,0.00,-0.09,NaN,NaN,0.00,-0.06,-0.04,0.07,NaN,0.24,1.40,1.22,5.46,3.43
2002-06-17,NaN,NaN,0.07,0.00,0.01,NaN,NaN,0.00,0.04,0.04,-0.02,NaN,0.24,1.40,1.23,5.44,3.43
2002-06-18,NaN,NaN,-0.11,0.00,0.04,NaN,NaN,0.00,-0.01,-0.04,-0.02,NaN,0.24,1.40,1.27,5.42,3.46
2002-06-19,NaN,NaN,-0.02,0.00,-0.08,NaN,NaN,0.00,-0.04,-0.09,0.01,NaN,0.24,1.40,1.19,5.43,3.51
2002-06-20,NaN,NaN,0.06,0.00,0.08,NaN,NaN,0.00,0.06,0.05,0.08,NaN,0.24,1.40,1.27,5.51,3.52
2002-06-21,NaN,NaN,-0.01,0.00,-0.06,NaN,NaN,-0.08,-0.08,-0.03,0.12,NaN,0.24,1.40,1.21,5.63,3.47
2002-06-24,NaN,NaN,0.03,0.00,0.06,NaN,NaN,0.00,0.06,0.06,0.12,NaN,0.24,1.40,1.27,5.75,3.47